<h1>Login</h1>

<%= flash[:message] if flash[:message] %>

<%= form_for :therapist do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %><br><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br><br>

    <%= f.submit "Login" %>
<% end %>
<br>
or
<br><br>
<%= button_to "Login with Google", '/auth/google_oauth2' %>

<h3>Don't have an account? Please <%= link_to "Sign up", signup_path %> here.</h3>