<h1>Create an Appointment!!</h1>

<%= flash[:message] if flash[:message] %>

<%= form_for(@appointment) do |f| %>
    <%= f.label :date %>
    <%= f.date_field  :date %><br><br>

    <%= f.label :time %>
    <%= f.time_field  :time %><br><br>

    <%= f.label :appointment_type %>
    <%= f.select :appointment_type, ['Initial Evaluation', 'Follow Up'] %><br><br>

    <h2>Add a patient</h2>

    <%= f.fields_for :patients do |p| %>
        <%= p.label :name %>
        <%= p.text_field :name %><br><br>

        <%= p.label :injury_location %>
        <%= p.select :injury_location, ['Cervical Spine', 'Thoracic Spine' , 'Shoulder' , 'Elbow' , 'Hand' , 'Lumbar Spine' , 'Hip' , 'Knee' , 'Ankle/Foot'] %>
    <% end %><br><br>

    <%= f.submit %>
<% end %>