<!DOCTYPE html>
<html>
  <head>
    <title>Rails Physical Therapy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center><u><h1>Rails Physical Therapy</h1></u></center>
    <%= yield %>
  </body>
</html>
