<!DOCTYPE html>
<html>
  <head>
    <title>Rails Physical Therapy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center><u><h1>Rails Physical Therapy</h1></u></center>
    <div>
      <% if logged_in? %>
        <%= link_to "Add an appointment", new_appointment_path %> /
        <%= link_to "All appointments", therapist_appointments_path(:therapist_id) %> /
        <%= link_to "Logout", logout_path, method: "delete" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
